@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

a {
  font-weight: 600;
}
.menu li a:hover {
  background-color: #fff !important;
  text-decoration: underline;
}

a.active {
  background-color: #fff !important;
  color: #2563eb !important;
  font-weight: 700;
}

@media only screen and (max-width: 335px) {
  .nbtn {
    font-size: 12px !important;
    padding: 8px 16px !important;
  }
}
